# lazy lock should not be staged (I guess?)
nvim/lazy-lock.json

# A tiny script I use to deploy this config locally
loc_nvim

# Don't want to share spell dictionaries
nvim/spell/*

# Just randomly appeared in the project directory. Probably from jsx lsp or something
package-lock.json

# stt model
ggml-*.bin
